.back
{
	width:130rem;
	background-image:url("banner.jpg");
	height:63rem;
	padding:1.5rem 2.5rem 2.5rem 2.5rem;
}
.nav{
	font-family:Lucida Handwriting;
	font-style:strong;
	font-size:30px;
	float:right;
	padding:4rem 13rem;
}
.nav>a{
	    cursor: pointer;
	padding:2rem;
	text-decoration:none;
}
.img{
	float:left;
width:14rem;
height:4rem;
}
	
.logo
{
	padding:1.5rem;
	font-family:Lucida Handwriting;
	font-style:strong;
}
.logoname
{
	margin-top:1.5rem;
	padding-left:17rem;
}
.burg
{
	position:relative;
	padding-left:2rem;
	font-style:strong;

}
.dotted
{
	font-family:cursive;
	font-style:Lucida Handwriting;
	font-size:2rem;
	border:3px dashed #000;
	margin-top:5rem;
	margin-right:80rem;
padding:1rem;
}
.burger
{
font-family:Lucida Console;
color:#207a4a;
font-size:12rem;
font-weight:bold;
text-shadow:7px 5px 
}
.img1{
   float:right;
	position:absolute;
	width:50rem;
	height:43rem;
   top:19rem;
   left:80rem;  
}

.video
{
	border:4px solid #f1f50a;
	width:80rem;
	height:40rem;
	padding:1rem 23rem 0.5rem 23rem;
	
}
.text{
	padding:4rem;
}
.text1
{
	font-family:Lucida Handwriting;
	font-style:strong;
	padding:2rem;
	text-indent:30rem;
font-size:3rem;
}
.week{	
font-size:2rem;
}
.choose
{
	color:#207a4a;
	margin-left:25rem;
	font-size:50px;
	font-weight:bold;
	font-family:Lucida Console;
	font-style:strong;
	font-size:9rem;
}
.allthree
{
	text-align:center;
	display:flex;
	font-size:1.5rem;
	font-family:Lucida Handwriting;
	font-style:normal;
	margin-right:5rem;
}


.non-veg
{
	font-size:29px;
	color:white;
	background-color:green;
	padding:16px 30px;
}
.non-veg:hover
{
background-color:red;
color:white;
}
.event
{
	
	font-size:30px;
	font-family:Lucida Handwriting;
	font-style:strong;
}
.discover
{
	color:#207a4a;
	font-size:45px;
	font-family:Lucida Console;
	font-style:strong;
}
.upcoming
{
	color:#207a4a;
	font-size:80px;
	font-family:Lucida Console;
	font-style:strong;
}
.box
{
	margin-left:8rem;
	padding:3rem 55rem 3rem 3rem;
	border:3px solid #c9bb30;
	width:50rem;
	box-shadow:12px 12px #f0c91a;
	position:relative;
}
.boximg
{ 
	width:60rem;
	height:43rem;
	box-shadow:12px 12px #f0c91a;
position:absolute;
left:55rem;
top:7rem;
}
.form
{
	margin-left:18rem;
font-family:Lucida Console;
font-size:25px;
	padding:5rem;
}
.fillout
{
	
	font-family:Lucida Console;
	font-size:2rem;
	border-radius:5px 5px 80px 5px;
	width:500px;
	height:100px;
	
}
::-webkit-input-placeholder{

	font-family:Lucida Console;
font-size:30px;
	color:green;
}

.datetimepicker {
	
width:500px;
	height:6rem;
      font-size: 3rem;
   }
.reserve
{
	
	padding:8rem;
	font-family:Lucida Console;
	font-style:strong;
}
.book1
{
	color:#207a4a;
	   padding-left:46rem;
	 font-size:3rem;
	font-family:Lucida Console;
	font-style:strong;
}
   .book{
	   color:#207a4a;
	   padding-left:33rem;
	 font-size:5rem;
	font-family:Lucida Console;
	font-style:strong;
}  
.but
   {
	   height:100px;
	   width:500px;
	font-size:20px;
	color:white;
	background-color:green;
	
}
.but:hover
{
background-color:red;
color:white;
   }


  



